:host{
  display: flex;

  app-painel-esquerdo{
    flex-grow: 0;
    min-width: 300px;
    max-width: 300px;
  }
  
  .rotas-container{
    min-height: 100%;
    flex-grow: 1;
  }

  app-painel-direito{
    flex-grow: 0;
    min-width: 300px;
    max-width: 300px;
    padding: 40px 20px 20px 20px;
  }
}