:host{
  display: flex;

  app-painel-esquerdo{
    flex-grow: 0;
    max-width: 300px;
  }
  
  .rotas-container{
    min-height: 100%;
    flex-grow: 1;
  }

  app-painel-direito{
    flex-grow: 0;
    width: 300px;
  }
}