@import 'variaveis';

$spotify-logo-height: 120px;
$height-menu-opcoes: 150px;
$espaco-entre-menus: 10px;
$height-footer-user: 70px;

$height-desconsiderar: calc($spotify-logo-height + $height-menu-opcoes + $height-footer-user);

:host{
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
  flex-direction: column;
  background-color: $cor-fundo-secundaria;
  box-shadow: 1px 0px 15px #00000012;

  .menus{
    flex-grow: 1;
    height: 100%;
    padding: 0px 40px;

    .image-container{
      min-height: $spotify-logo-height;
      
      img{
        width: 70%;
      }
    }

    .menu-container{
      width: 100%; 
      
      &.opcoes{
        min-height: $height-menu-opcoes;

        * {
          margin-bottom: $espaco-entre-menus;
        }
      }

      .playlist-titulo{
        margin: 10px 0px;
        align-self: flex-start;
        font-weight: 700;
        font-size: .7rem;
        color: $preto-transparente-30;
        text-transform: uppercase;
      }

      .playlist-scroll{
        width: 100%;
        max-height: calc(95vh - $height-desconsiderar);
        overflow-y: auto;

        &::-webkit-scrollbar{
          display: none;
        }

        * {
          margin-bottom: $espaco-entre-menus;
        }
      }
    }
  }

  .usuario-info{
    flex-grow: 0;
    align-self: flex-end;
    height: $height-footer-user;
    width: 100%;
  }

}