@import 'variaveis';

.container{
  width: 100%;
  height: 100%;
  max-width: 200%;
  overflow: hidden;
  background-color: $branco;

  &.card{
    border-radius: 10px;
  }


  .image{
    height: 75%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7;
  }

  .controles {
    padding: 10px;
    background-color: $preto-transparente-70;
    flex-grow: 1;
    color: $branco;
    
    span {
      font-size: .9rem;
      font-weight: 700;
    }

    .botoes{
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
      

      * {
        cursor: pointer;
      }

    }
  }


}