$branco: #FFF;

$preto-transparente-30: rgba(0,0,0,0.3);
$preto-transparente-20: rgba(0,0,0,0.2);
$preto-transparente-03: rgba(0,0,0,0.03);
$preto-transparente-70: rgba(0,0,0,0.7);

$cor-fundo-secundaria: $branco;
$cor-primaria: rgb(55, 171, 0);
$cor-fundo: rgb(251, 254, 244);
